h1 {
  font-family: "Prohibition", sans-serif;
  font-weight: 400;
  color: #18064e;
  background-color: #00ffe1;
}

h2 {
  font-family: "Rustico", sans-serif;
  font-weight: 400;
  color: #00ffe1;
  background-color: #18064e;
}

h3 {
  font-family: "Rustico", sans-serif;
  font-weight: 400;
  color: #18064e;
  background-color: #00ffe1;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  background-color: #00ffe1;
  color: #18064e;
}

ul {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: #00ffe1;
}
