body {
  max-width: 100%;
}

h1 {
  font-family: "Prohibition", sans-serif;
  font-weight: 400;
  color: #18064e;
  background-color: #00ffe1;
}

h2 {
  font-family: "Rustico", sans-serif;
  font-weight: 400;
  color: #00ffe1;
  background-color: #18064e;
}

.slideshow {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.slide {
  width: 100%;
  max-width: 600px;
  position: absolute;
}

h3 {
  font-family: "Rustico", sans-serif;
  font-weight: 400;
  color: #18064e;
  background-color: #00ffe1;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  background-color: #00ffe1;
  color: #18064e;
}

ul {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: #00ffe1;
}
